In [3]:

import sqlite3

conn = sqlite3.connect("mydb.db")

cursor = conn.cursor()

cursor.execute('''

    create table if not exists Student(

               id Integer primary key,
               name Text not null,
               department Text,
               age Integer
               )

''')


conn.commit()

In [4]:
cursor.execute('''
    select * from Student
''')

In [5]:
# Insert

cursor.execute('''

insert into Student(name,department,age) values('Sanjeev kumar','BCA',21)
''')

In [8]:
cursor.execute('''

        select * from Student

''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sanjeev kumar', 'SDE-1', 21)

In [ ]:
cursor.execute('''

        update Student set department = 'SDE-1' where name= 'Sanjeev kumar'
''')


conn.close()